/*简介*/
.cont0{height:540px;background:url("../images/TB2pZGrtVXXXXbIXpXXXXXXXXXX_!!828203668.jpg")center bottom repeat-x #27262e;}
.cont0 .about{height:540px;}
.part1{background:#43bab8;height:546px;width:100%;}
.part2{height:774px;background:#3a3a42;width:100%;}
.part3{height:774px;background:#ff6b43;width:100%;}
.part4{height:774px;background:#3a3a42;width:100%;}

.img-box p a{
	font-size: 80px;
	margin:15px 0 0 90px;
	height: 100px;
	width: 100px;
	border:6px rgba(255,255,255,.7) solid;
}
.img-box i{margin:10px 0 0 20px;}

*{font-size:10px; margin:0; padding:0;}
fieldset { padding:10px; margin:0px auto; width:1500px; color:black; border:green solid 1px;}
legend {color:green; font-weight:800;font-size: 30px;}
fieldset p{
	font-size: 20px;
}