body{background-image: url("../images/login_bg.jpg");
			background-repeat:no-repeat;
			background-size: 100%;
			opacity: 0.8;
			}

		.login {
  			display: block;
  			position: absolute;
  			transform: translate(-50%, -61.8%);
  			/*左右方向的位置为50%, 上下方向的位置为黄金分割比例0.618*/ 
  			left: 50%;
  			top: 50%;
  			width: 20%;
			height:28%;
  			border-radius: 8px;
  			/*登录框4个角设置为圆角*/
  			background: rgba(255, 255, 255);
  			/*白色背景,不透明度90%*/
			}
		.btn{width:75%;
			height: 40px;
			background-color: lightblue;
     		margin-top:38px;
			margin-right: 60px;
	 		border:1px solid #40984c;}
		.left{text-align:right;
      		  width:25%;}
	#logintxt{
        width:220px;
        height:30px;
        line-height:40px;
        padding-left:30px;
		margin-left: 30px;
    }
	#passwdtxt{
        width:220px;
        height:30px;
        line-height:40px;
        padding-left:30px;
		margin-left: 30px;
    }
		#bottom{width: 400px;
				text-align:center;
				}
	img{
		width: 50px;
		height: 50px;
		margin-left: 50px;
	}