.weibo{
	display: block;
  	position:relative;
  	transform: translate(-50%, -30%);
  	left: 50%;
  	top: 50%;
  	width: 40%;
	height:30%;
  	background: rgba(255, 255, 255);
  	/*白色背景,不透明度90%*/
	}
.weibo td{
	font-size: 20px;
	color: black;
}